.main-sign_input input[type =text],.main-sign_input input[type =password] ,.main-sign_input input[type =number]{
    width: 97%;
    height: 31px;
   border: 1px solid #444;
    border-radius: 5px;
    margin-bottom: 15px;
 }
 .main-sign_submit{
     background-color:rgb(97, 7, 170) ;
     width: 100%;
     border: 1px solid #fff;
     border-radius: 5px;
     height: 35px;
     color: #fff;
 }